body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover{
    color: #0bc6e7;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type:  none;
    align-items: center;
    padding: 16px;

}

a{
    color: white;
    text-decoration: none;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #0bc6e7;
}
.center {
    text-align: center;
}
h1{
    color: #0bc6e7;
}
footer{
    display: flex;
    justify-content: center;

    
}
footer a {
    margin: 20px;
}
footer a:hover{
    color: #0bc6e7;
}